{% extends 'layouts/base_no_nav.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
                </form>
                <div class="mt-3">
                    <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
