{% extends 'layouts/base_no_nav.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong> Please correct the following errors:
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <h2 class="text-center mb-4">Signup</h2>
                <form method="post" action="#">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Signup</button>
                </form>
                <div class="mt-3">
                    <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
