<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="site-navigation position-relative">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'performance' %}">Performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'targets' %}">Targets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
