{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Edit Task</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ edit_task_form.as_div }}
                    <button type="submit" class="btn btn-primary">Update Task</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
