{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h4>Task History</h4>
            {% for task in tasks %}
            <div>
                <hr>
                <h4><a href="/tasks/{{ task.id }}">{{ task.title }}</a></h4>
                <div class="row">
                    <div class="col-md-7">
                        <p>{{ task.body }}</p>
                    </div>
                    <div class="col-md-5">
                        <p><strong>Done</strong></p>
                        <p>🗓️ {{ task.date_planned }}</p>
                        <div class="btn-group" role="group">
                            <form action="/tasks/delete/{{ task.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?')">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">♻ Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
