{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                <h2 class="display-4">Welcome!</h2>
            </div>
            <div class="card-body">
                <p class="lead">Organize your tasks</p>
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                &nbsp;
                <a href="{% url 'signup' %}" class="btn btn-primary">Signup</a>
            </div>
        </div>
    </div>
{% endblock %}
