{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="row" align="center">
        <div class="col-md-4">
            <button id="btn-semester">Semester</button>
        </div>
        <div class="col-md-4">
            <button id="btn-month">Month</button>
        </div>
        <div class="col-md-4">
            <button id="btn-week">Week</button>
        </div>
    </div>
    <br>
    <div class="row justify-content-center text-center">
        <button id="btn-prev"><<</button>&ensp;
        <h5 id="start-period">{{ start_period }}</h5>
        &ensp;<h5>-</h5>&ensp;
        <h5 id="end-period">{{ end_period }}</h5>
        &ensp;<button id="btn-next">>></button>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h4>Finished On Time:&ensp;</h4><h4 id="done">{{ done }}</h4>
                </div>
                <hr>
                <br>
                <div class="row">
                    <h4>Finished Late:&ensp;</h4><h4 id="late">{{ late }}</h4>
                </div>
                <hr>
                <br>
                <div class="row">
                    <h4>To Do:&ensp;</h4><h4 id="pending">{{ pending }}</h4>
                </div>
                <hr>
                <br>
                <div class="row">
                    <h4>Delayed:&ensp;</h4><h4 id="delayed">{{ delayed }}</h4>
                </div>
                <hr>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" id="downloadCSV">Download CSV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // On load
        let period_dates = [new Date("{{ start_period }}".replace(/\.(\d+)/, ', $1')),
                            new Date("{{ end_period }}".replace(/\.(\d+)/, ', $1'))];
        let period_tag = "{{ period_tag }}";

        // Functions
        function weekly_performance() {
            period_tag = 'w';
            redirect_period(period_dates[0]);
        }

        function monthly_performance() {
            period_tag = 'm';
            redirect_period(period_dates[0]);
        }

        function semester_performance() {
            period_tag = 's';
            redirect_period(period_dates[0]);
        }

        function redirect_period(newDate) {
            let year = newDate.getFullYear();
            let month = newDate.getMonth() + 1;
            let day = newDate.getDate();
            window.location.href = "/performance/" + period_tag + "/" + year + "/" + month + "/" + day + "/";
        }

        function previous_period() {
            let newDate = new Date(period_dates[0].getTime() - 432000000)
            redirect_period(newDate);
        }

        function next_period() {
            let newDate = new Date(period_dates[1].getTime() + 432000000)
            redirect_period(newDate);
        }

        // Event listeners
        document.getElementById("btn-week").addEventListener("click", weekly_performance);
        document.getElementById("btn-month").addEventListener("click", monthly_performance);
        document.getElementById("btn-semester").addEventListener("click", semester_performance);
        document.getElementById("btn-prev").addEventListener("click", previous_period);
        document.getElementById("btn-next").addEventListener("click", next_period);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/filesaver.js"></script>
    <script>
        document.getElementById('downloadCSV').addEventListener('click', function() {
            // Prepare data
            const csvContent = [
                ['Category', 'Count'],
                ['Finished On Time', {{ done }}],
                ['Finished Late', {{ late}}],
                ['To Do', {{ pending }}],
                ['Delayed', {{ delayed }}]
            ].map(e => e.join(',')).join('\n');

            // Create a Blob
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8' });

            // Save as CSV file
            saveAs(blob, 'statistics.csv');
        });
    </script>

</div>
{% endblock %}
