{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <br>
        <div class="col-md-12">
            <!-- class="d-none" to disable element -->
            <br>
            <h4>Set or Update Targets</h4>
            <hr>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {{ target_form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}
