{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ task.title }}</h2>
                <p class="card-text">{{ task.body }}</p>
                <p class="card-text"><strong>{% if task.date_completed %}Done{% else %}Pending{% endif %}</strong></p>
                <p class="card-text">🗓️ {{ task.date_planned }}</p>
                <div class="btn-group" role="group">
                    <a href="/tasks/edit/{{ task.id }}" class="btn btn-secondary">✏ Edit</a>
                    {% if task.date_completed %} {% else %}
                        <form action="/tasks/done/{{ task.id }}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="DONE">
                            <button type="submit" class="btn btn-primary">☑ Done</button>
                        </form>
                    {% endif %}
                    <form action="/tasks/delete/{{ task.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?')">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">♻ Delete</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <br>
                <!-- img list -->
                <div class="container">
                    {% for image in images %}
                        <div class="row">
                            <img class="img-fluid" src="{{ image.image.url }}" alt="Img">
                        </div>
                        <form action="/img/delete/{{ image.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this image?')">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                        <br>
                    {% endfor %}
                </div>
                <br>
                <form action="/tasks/add_image/{{ task.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Add Image</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
