{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- class="d-none" to disable element -->
            <br>
            <h4>New Task</h4>
            <hr>
            <br>
            <form method="post" action="">
                {% csrf_token %}
                {{ new_task_form.as_p }}
                <button class="btn btn-primary" type="submit">Add Task</button>
            </form>
        </div>
        <div class="col-md-6">
            <br>
            <h4>Your List</h4>
            {% for task in tasks %}
            <div>
                <hr>
                <h4><a href="/tasks/{{ task.id }}">{{ task.title }}</a></h4>
                <div class="row">
                    <div class="col-md-7">
                        <p>{% if task.body|length <= 130 %} {{ task.body }} {% else %} {{ task.body|slice:":130" }}... {% endif %}</p>
                    </div>
                    <div class="col-md-5">
                        <p><strong>{% if task.date_completed %}Done{% else %}Pending{% endif %}</strong></p>
                        <p>🗓️ {{ task.date_planned }}</p>
                        <div class="btn-group" role="group">
                            <form action="/tasks/done/{{ task.id }}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DONE">
                                <button type="submit" class="btn btn-primary">☑ Done</button>
                            </form>
                            <form action="/tasks/delete/{{ task.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?')">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">♻ Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
